python-dotenv
pandas
numpy
pyarrow
duckdb
openpyxl

langchain-core
langchain-anthropic
langchain-openai
langgraph
langgraph-checkpoint-sqlite
langsmith
pinecone
pydantic

statsmodels

streamlit
plotly

pytest
